@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --text-primary: #efefef;
    --text-secondary: #eceece;
    --transtion-speed: 400ms;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}


/* scrolbar */

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: violet;
}

main {
    margin-left: 5rem;
    padding: 1rem;
}

.navbar {
    position: fixed;
    background: var(--bg-primary);
    transition: width 200ms ease-out
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: opacity(0.8);
    transition: var(--transtion-speed);
}

.nav-link:hover {
    background-color: rebeccapurple;
    filter: opacity(1);
    color: var(--bg-primary);
    font-weight: bolder;
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link img {
    max-width: 2rem;
    margin: 1.5rem;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    width: 100%;
    color: var(--bg-secondary);
    letter-spacing: 0.3ch;
}

.logo img {
    transform: rotate(0deg);
    transition: transform var(--transtion-speed);
}

.navbar:hover .logo img {
    transform: rotate(180deg);
}

@media only screen and (min-width:800px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }
    .navbar:hover {
        width: 12rem;
    }
    .navbar:hover .link-text {
        display: block;
    }
}

@media only screen and (max-width:800px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }
    .navbar-nav {
        flex-direction: row;
    }
    .logo {
        display: none;
    }
    .nav-link {
        justify-content: center;
    }
    main {
        margin: 0;
    }
}